Repository Sitecore/developer-portal, pull requests merged in 2023-05, with the labels that each got.

#431 Updating title for changelog to match the H1
  apps/devportal/src/pages/changelog/[product]/[entry].tsx
  apps/devportal/src/pages/changelog/[product]/index.tsx
Labels: bug

#460 Remove Incorrect YouTube Playlist from Sitecore Search product page
  apps/devportal/data/markdown/pages/solution/content-management/product/search/index.md
Labels: search

#459 Added numerous Search fixes/improvements
  apps/devportal/src/components/integrations/sitecore-search/PreviewSearchInput.tsx
  apps/devportal/src/components/integrations/sitecore-search/SearchPagination.tsx
  apps/devportal/src/components/integrations/sitecore-search/SearchResults.tsx
  apps/devportal/src/pages/_app.tsx
  turbo.json
Labels: search

#464 Update index.md
  apps/devportal/data/markdown/pages/learn/getting-started/migrating-to-the-sitecore-composable-dxp/index.md
Labels: documentation
